* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgb(172, 244, 245);
    color: rgb(0, 0, 0);
}

nav {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(242, 220, 220);
    text-decoration: none;
}

.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #000000, rgb(172, 244, 245));
    color: rgb(17, 24, 40);
}

.home span {
    color: rgb(0, 0, 0);
}

.home button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

section {
    padding: 50px;
    text-align: center;
}

.skills ul {
    list-style: none;
}

.skills li {
    background: #ddd;
    margin: 10px;
    padding: 10px;
}

.projects {
    background: #fff;
}

.project-box {
    background: #eee;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.contact {
    background: #222;
    color: white;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}